<%- include('./partials/header') %>

<navbar>
  <ul class="nav-list">
    <li class="nav-item"><a href="/quests/new">New Quest</a></li>
    <li class="nav-item"><a href="/logout">Log Out</a></li>
  </ul>
</navbar>
<h1>Quest Log</h1>
  <div class="flex-container">
    <% quests.forEach(function(q) { %>
      <div class="flex-item">
        <div class="flex-title"><a href="/quests/<%= q.id %>"><%= q.qName %></a>
        - <%= q.difficulty %><br>
        </div>
        <%= q.notes %>
        <% if (q.user.equals(user._id)) { %>
          <form action="/quests/<%= q.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">Complete Quest</button>
          </form>
        <% } %>
      </div>
  <% }); %>
    </div>

<%- include('./partials/footer') %>