<%- include('./partials/header') %>

  <h1>Welcome, User!</h1>
  <nav>
    <a href="/quests/new">New Quest</a>
    <a href="/logout">Log Out</a>
  </nav>
  <body>
    <h2>Quests</h2>
    <ul>
      <% quests.forEach(function(q) { %>
        <li>
          <a href="/quests/<%= q.id %>"><%= q.qName %></a>
          <form action="/quests/<%= q.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">X</button>
        </form>
        </li>
      <% }); %>
    </ul>
  </body>

  <%- include('./partials/footer') %>