<%- include('./partials/header') %>

<h1>Quest Log</h1>
<navbar>
  <ul class="nav-list">
    <li class="nav-item"><a href="/quests/new">New Quest</a></li>
    <li class="nav-item"><a href="/logout">Log Out</a></li>
  </ul>
</navbar>
  <ul>
    <% quests.forEach(function(q) { %>
      <li>
        <a href="/quests/<%= q.id %>"><%= q.qName %></a>
        - <%= q.difficulty %><br>
        <%= q.notes %>
        <form action="/quests/<%= q.id %>?_method=DELETE"
          class="delete-form" method="POST">
          <button type="submit">Complete Quest</button>
        </form>
      </li>
  <% }); %>
  </ul>

<%- include('./partials/footer') %>